In [15]:
ball_positions = [
    {1: [100, 150, 110, 160]},  # Frame 1: Ball detected
    {1: [102, 152, 112, 162]},  # Frame 2: Ball detected
    {},                         # Frame 3: Ball not detected (missing)
    {1: [106, 156, 116, 166]},  # Frame 4: Ball detected
]
ball_positions

[{1: [100, 150, 110, 160]},
 {1: [102, 152, 112, 162]},
 {},
 {1: [106, 156, 116, 166]}]

In [9]:
ball_positions = [x.get(1, []) for x in ball_positions]
ball_positions

[[100, 150, 110, 160], [102, 152, 112, 162], [], [106, 156, 116, 166]]

In [11]:
import pandas as pd
df_ball_positions = pd.DataFrame(ball_positions, columns=['x1', 'y1', 'x2', 'y2'])
df_ball_positions.head()

      x1     y1     x2     y2
0  100.0  150.0  110.0  160.0
1  102.0  152.0  112.0  162.0
2    NaN    NaN    NaN    NaN
3  106.0  156.0  116.0  166.0

In [13]:
df_ball_positions = df_ball_positions.interpolate()
df_ball_positions = df_ball_positions.bfill() #ensures that any remaining NaN values after interpolation are filled using the next valid detected ball position from subsequent frames. This ensures there are no gaps in the ball positions.
df_ball_positions.head()

      x1     y1     x2     y2
0  100.0  150.0  110.0  160.0
1  102.0  152.0  112.0  162.0
2  104.0  154.0  114.0  164.0
3  106.0  156.0  116.0  166.0

In [14]:
ball_positions = [{1: x} for x in df_ball_positions.to_numpy().tolist()]
ball_positions

[{1: [100.0, 150.0, 110.0, 160.0]},
 {1: [102.0, 152.0, 112.0, 162.0]},
 {1: [104.0, 154.0, 114.0, 164.0]},
 {1: [106.0, 156.0, 116.0, 166.0]}]

In [19]:
data = {'x1': [100, 102, None, None],
        'y1': [150, 152, None, None],
        'x2': [110, 112, None, None],
        'y2': [160, 162, None, None]}

df = pd.DataFrame(data)
df = df.interpolate()
df = df.bfill()
df.head()

      x1     y1     x2     y2
0  100.0  150.0  110.0  160.0
1  102.0  152.0  112.0  162.0
2  102.0  152.0  112.0  162.0
3  102.0  152.0  112.0  162.0

: